{% extends "page/checkout/order.html.twig" %}

{% block checkout_order_btn_confirm_bottom %}
    {{ parent() }}
    {% if oView.isEmbedded() and oView.getPayment().isNexiCheckout() %}
        <h4 class="card-header d-flex justify-content-between align-items-center" id="nexi-checkout-embedded-checkout">
            {{ translate({ ident: "NEXI_CHECKOUT" }) }}
        </h4>

        {{ style({ include: oViewConf.getModuleUrl('nexi-checkout', 'src/css/embedded.css') }) }}

        <div id="dibs-block" class="agb card">
            <div class="card-body">
                <div id="dibs-complete-checkout"></div>
            </div>
        </div>

        <script type="text/javascript" src="{{ oView.getCheckoutJs() }}"></script>
        <script type="text/javascript">
            const checkoutOptions = {
                checkoutKey: "{{ oView.getCheckoutKey() }}",
                paymentId: "{{ oView.getPaymentId() }}",
                containerId: "dibs-complete-checkout",
                language: "{{ oView.getLocaleCode() }}"
            };

            const checkout = new Dibs.Checkout(checkoutOptions);
            checkout.on('payment-completed', function () {
                document.getElementById('orderConfirmAgbBottom').submit();
            });
        </script>
        {{ script({ include: oView.getLayoutJs(), dynamic: __oxid_include_dynamic }) }}

    {% endif %}
{% endblock %}